<h1>Add a student!</h1>
<form id="add-student" action="/accounts/register" method="post">
    <input type="text" name="firstName" value=""  placeholder="First Name">
    <input type="text" name="lastName" value=""  placeholder="Last Name">
    <input type="text" name="email" value="" placeholder="email">
    <input type="text" name="username" value=""  placeholder="Username">
    <input type="password" name="password" value="" placeholder="Password">
    <input type="password" name="passwordConfirmation" value="" placeholder="Password Confirmation">
    <input type="hidden" name=isTeacher value="false">
    <input type="submit" value="Create Account">
</form>
