<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>{{title}}</h1>
    <div id="header">
      <div id="nav-links">
        {{#if user.isTeacher}}
        <a href="/teacher">Student Progress</a>
        <a href="/accounts/add-student">Add Student</a>
        <a href="/account/modify">Account</a>
        {{/if}}
        {{#unless user.isTeacher}}
        <a href="/">Play</a>
        <a href="/account/modify">Account</a>
        {{/unless}}
        {{#if user }}
        <a href="/accounts/logout">Logout</a>
        {{/if}}
      </div>
      <div>
        {{#unless user }}
        <form id="login" action="/accounts/login" method="post">
          <input type="text" name="username" value=""  placeholder="Username">
          <input type="password" name="password" value="" placeholder="Password">
          <input type="submit" value="Login">
        </form>
        {{/unless}}
      </div>
      <div id="status-msg-header">
        {{#if user}}
          Welcome, {{user.username}}!
        {{/if}}
      </div>
    </div>
    <div>
      {{{body}}}
    </div>
  </body>
</html>
