<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="header">
      <div id="nav-links">
        <a href="/">Play</a>
        <a href="/accounts/register">Teacher Registration</a>
      </div>
      <div>
        <form id="login" action="/users/login" method="post">
          <input type="text" name="name" value=""  placeholder="Username">
          <input type="password" name="password" value="" placeholder="Password">
          <input type="submit" name="name" value="Login">
        </form>
      </div>
      <div id="status-msg-header">
        {{#if user}}
          Welcome, {{user.username}}!
        {{else}}
          Hey! You should log in or register!
        {{/if}}
      </div>
    </div>
    <div>
      {{{body}}}
    </div>
  </body>
</html>
