<h1>Register</h1>
<form id="register" action="/users/login" method="post">
    <input type="text" name="firstName" value=""  placeholder="First Name">
    <input type="text" name="lastName" value=""  placeholder="Last Name">
    <input type="text" name="username" value=""  placeholder="Username">
    <input type="password" name="password" value="" placeholder="Password">
    <input type="password" name="passwordConfirmation" value="" placeholder="Password Confirmation">
    <input type="hidden" name=isTeacher value="true">
    <input type="submit" value="Create Account">
</form>
